.CurrencySelector {
  left: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.CurrencySelector select {
  border: 0;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* position: absolute; */
  top: 0;
  left: 10px;
  bottom: 0;
  right: 0;
  min-width: 140px;
}

.arrow {
  width: 30px;
}

.arrow img {
  width: 100%;
}
